
@media screen and (min-width:768px) {
	.box_list {
		img {
			float: left;
			width: 40%;
		}

		.caption {
			float: left;
			width: 60%;
		}

		&:after {
			content:'';
			clear: both;
			display: block;
		}
	}
}