header {
    padding:0;
    background-color: #ffffff;
    position: relative;
}
#show_side_menu {
    cursor: pointer;
}

img {
    vertical-align: middle;
}
.slogan {
    position: absolute;
    font-size: 1em;
    top: 10px;
    left: 130px;
    color:#ffffff;
}
.slogan_mobile {
    // @extend .slogan;
    font-size: 1.5em;
    font-family: "";
    color: #ffffff;
    height: 100%;
    line-height: 53px;
    margin-left: 50px;
    text-align: center;
}
.navbar .navLink {
    color: #d8dfea;
    display: inline-block;
    font-weight: bold;
    height: 31px;
    // line-height: 29px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    line-height: 53px;
}
.navbar {
    -moz-box-shadow:0px 1px 3px rgba(20%, 20%, 40%, 0.5);
    -webkit-box-shadow:0px 1px 3px rgba(20%, 20%, 40%, 0.5);
    box-shadow:0px 1px 3px rgba(20%, 20%, 40%, 0.5);
    // background: url(http://subtlepatterns.com/patterns/diagmonds.png);
    background: url($navbar_bg);
    background-color: #384047;
    // border-color: #A7A7A7;
}
.headerTinymanPhoto {
    border: 1px solid #294a8f;
    border-top: 1px solid #123682;
    -webkit-border-radius: 2px;
    height: 35px;
    margin: 3px 5px 3px 3px;
    width: 35px;
    border-radius: 16px;
}
.loaded .active #wrapper {
    opacity: 0;
    -webkit-transition: all 0.25s 0.05s;
    -moz-transition: all 0.25s 0.05s;
    -o-transition: all 0.25s 0.05s;
    transition: all 0.25s 0.05s;
}
.logo {
    // @include wh(60px, 60px);
    // display:table-cell;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    background-color: #C04B4B;//C73E3E
    // display: block;
    position: absolute;
    color: #ffffff;
    left: 50px;
    font-size: 3em;
    z-index: 999;
    text-align: center;
    cursor: pointer;
    font-family: serif;
    -moz-box-shadow:0px 1px 3px rgba(20%, 20%, 40%, 0.5);
    -webkit-box-shadow:0px 1px 3px rgba(20%, 20%, 40%, 0.5);
    box-shadow:0px 1px 3px rgba(20%, 20%, 40%, 0.5);
    &:hover {
        color: #FFFFFF;
    }
}
.logo_mobile {
    // margin-left: 66px;
    // font-family: -webkit-pictograph;
    color: #ffffff;
    font-size: 2em;
    // display: inline-block;
    // line-height: 4.5em;
    // line-height: 0;
    // height: 1.5em;
    // margin-left: 66px;
    // font-family: -webkit-pictograph;
    // color: #ffffff;
    // font-size: 2em;
    // text-align: center;
    // display: inherit;
    // position: relative;
    // top: 25px;
}
.icon-mobile {
    top: 6px;
}
@media (min-width:768px) {
    .logo_mobile {
        display: none;
    }
}
@media (max-width:768px) {
    .logo {
        left: 10px;
    }
}
.navbar-toggle {
    margin: 5px 0px 0 0;
    position: relative;
    float: right;
    // margin-right: 15px;
    padding: 0px 10px;
    background-image: none;
    border: 0px solid transparent;
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.advanced_btn {
    // @include wh(10em, 3em);
    width: 10em;
    height: 3em;
    position: relative;
    top: 5px;
    background-color: #0e6aa4;
    border: 1px solid #0c5b8d;
    border-bottom: 3px solid #083c5e;
    &:hover {
        background-color: #3E7BA2;
        border: 1px solid #0c5b8d;
        border-bottom: 3px solid #083c5e;
    }
}

.advanced_btn_mobile {
    &:before {
        content: '';
    }
    i {
        color: #ffffff;
    }

margin: 5px 0px 0 0;
position: relative;
float: right;
padding: 0px 10px;
background-image: none;
border: 0px solid transparent;
height: 40px;
width: 40px;
line-height: 40px;


    background-image: none;
    position: relative;
    float: right;
    // width: 3em;
    // height: 3em;
    top: 5px;
    // background-color: #0e6aa4;
    // border: 1px solid #0c5b8d;
    // border-bottom: 3px solid #083c5e;
    text-align: center;
    padding: 0;
    // &:hover {
    //     background-color: #3E7BA2;
    //     border: 1px solid #0c5b8d;
    //     border-bottom: 3px solid #083c5e;
    // }
}

@media screen and (min-width: 768px) {
    .advanced_btn_mobile {
        display: none;
    }
}