//search

    .search-box {
        // float: right;
        margin: 0 auto;
        width: 80%;
        height: 40px;
        position: relative;
        // background-color: #ffffff;
    }

    .search-box input:focus ~ .icon {
        opacity: 1;
        z-index: 3;
        color: #61c7b3;
        }
    .search-box input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
        text-indent: 15px;
        height: 40px;
        z-index: 2;
        outline: none;
        color: #ffffff;
        background: transparent;
        // border: 2px solid #efefef;
        border-radius: 5px;
        background-color: #ffffff;
        transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
    }
    .search-box input:focus {
        color: #333;
        border-color: #d6d6d6;
        // width: 300%;
        background-color: #ffffff;
    }
    .search-box .icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        text-align: center;
        line-height: 40px;
        z-index: 1;
        cursor: pointer;
        opacity: .5;
    }
    .search-box input, .search-box .icon {
        transition-duration: .3s;
    }

.tab-content{
padding: 25px;
text-align: justify;

}
//

.slogan{
	position: absolute;
	font-size: 1em;
	top: 10px;
	left: 130px;
	color:#ffffff;
}

.side_menu {

	color:#fff;
	position: fixed;
	z-index: 8;
	bottom: 0;
	left: 0;
	top: 0;
	width: 0;
	overflow: visible;

}
.side_body{

// overflow-y: auto;
background: #424447 url($side_body_bg);
box-shadow: -20px 0px 10px -20px rgba(0, 0, 0, 0.6) inset;


  -webkit-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -moz-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -ms-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -o-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -webkit-transform: translateX(-277px);
  -moz-transform: translateX(-277px);
  -ms-transform: translateX(-277px);
  -o-transform: translateX(-277px);
  transform: translateX(-277px);
  position: relative;
  z-index: 2;
  // overflow: auto;
  height: 100%;
  width: 277px;

  ul{
  	padding: 0 1em;
  	li{
  		cursor: pointer;
		padding: 0.5em 1em;
		&:hover{
			color: #D1D1D1;
		}
		a{
			font-size: 1em;
			line-height: 1em;
			color: #ffffff;

		}
  	}
  }
  	div{
		padding: 1em 0 0 1em;
	}
	.user_welcome{
		padding-bottom: 0;
	}
}
.container {
	// background: #ebe8d7 url($body_bg);
	// overflow: auto;
  -webkit-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -moz-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -ms-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -o-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  // -webkit-transform: translateX(0);
  // -moz-transform: translateX(0);
  // -ms-transform: translateX(0);
  // -o-transform: translateX(0);
  // transform: translateX(0);
  // height: 100%;
  // width: 100%;
  // position: relative;
  // z-index: 5;
}
.navbar{
	  -webkit-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -moz-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -ms-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -o-transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  transition: all 0.5s cubic-bezier(0.335, 0.815, 0.47, 1);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.sidemenu_visible{
	.side_body {
	  -webkit-transform: translateX(0);
	  -moz-transform: translateX(0);
	  -ms-transform: translateX(0);
	  -o-transform: translateX(0);
	  transform: translateX(100);
	}
	.container,.navbar {
	  -webkit-transform: translateX(277px);
	  -moz-transform: translateX(277px);
	  -ms-transform: translateX(277px);
	  -o-transform: translateX(277px);
	  transform: translateX(277px);
	}
}
#sidenav_close {
background: url("http://www.bevisionare.com/img/close.png") no-repeat center;
cursor: pointer;
margin: 5px;
float: right;
height: 30px;
width: 30px;
}
.side_body .side_logo{
	padding: 1em;
}
.side_logo{
	font-family: -webkit-pictograph;
	color: #ffffff;
	font-size: 1.8em;
	line-height: 2em;

	text-align: center;
	// margin:1em;
}
.login_user_name{

}

.badge{
	top: 3px;
position: relative;
margin-left: 10px;
float: right;
}

.user_welcome{

	margin: 0 1em;
	padding: 0;
  p,span{
  	font-size: 1.5em;
  	display: inline-block;
  }
}
.side-use{
	margin: 0 1em;
padding: 1em;
color: #BEBEBE;
line-height: 1.5em;
font-size: 1em;
}
.quote{
position: relative;
margin-top: 15em;
}