.thumbnail{
	background-color: #D84071;
	&:hover{
		box-shadow: 5px 5px 10px #000000;
	}
	.caption{
		color: #ffffff;
	}
	.description{
		font-size: 12px;
		line-height: 20px;
	}
	.date{
		@include position(absolute,false,30px,30px,false);
		label{
			font-size: 12px;
		}
	}
}
