/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

$base-font-size: 16px;
$base-line-height: 24px;

/*------------------------------------*\
    IMPORT
\*------------------------------------*/

@import "compass/typography/vertical_rhythm";
@import "compass/reset";
@import "mixin";
@import "susy";

@import "component/base";
@import "component/search";
@import "component/navbar";
@import "component/jumbotron";
@import "component/thumbnail";



@include establish-baseline();

/*------------------------------------*\
    CSS
\*------------------------------------*/
.name{
    text-align: center;
    font-size: 50px;
}

.full-width{
    height: 100%;
}

.text-slide{
    text-align: center;
    position: absolute;
    top: 50%;
    color: #E6C580;
}

#slidr-inline-dynamic{
    color: #ffffff;
}

.story-cover-arrow {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -8px;
    border: 2px solid rgba(255,255,255,0.35);
    background: rgba(0,0,0,0);
    border-left: 0;
    border-top: 0;
    outline: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    &:hover{
        border-color: rgba(255,255,255,0.65);
    }
}

.navbar-inner{
    background-color: #F1CA77;
}
.navbar-shadow{
    background-color: #F1CA77;
}
.height{
position: absolute;
    background:url('http://www.soyuzcoffee.com/img/intro.jpg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center;
}






